/* 預設的style */
.tips-default .tooltip-inner{
    max-width: 200px;
    padding: .25rem .5rem;
    color: #fff;
    text-align: center;
    background-color: #000;
    border-radius: .25rem;
}

/* tooltip本身的style */
.tips-info .tooltip-inner{
    color: #fff;
    background-color: #0dcaf0;
}
.tips-success .tooltip-inner{
    color: #fff;
    background-color: #198754;
}
.tips-secondary .tooltip-inner{
    color: #fff;
    background-color: #6c757d;
}
.tips-primary .tooltip-inner{
    color: #fff;
    background-color: #0d61fd;
}
.tips-warn .tooltip-inner{
    color: #fff;
    background-color: #ffc107;
}
.tips-danger .tooltip-inner{
    color: #fff;
    background-color: #dc3545;
}

/* tooltip的箭頭top style */
.tips-info.tooltip.bs-tooltip-top .tooltip-arrow::before {
    border-top-color: #0dcaf0;
}
.tips-success.tooltip.bs-tooltip-top .tooltip-arrow::before {
    border-top-color: #198754;
}
.tips-secondary.tooltip.bs-tooltip-top .tooltip-arrow::before {
    border-top-color: #6c757d;
}
.tips-primary.tooltip.bs-tooltip-top .tooltip-arrow::before {
    border-top-color: #0d61fd;
}
.tips-warn.tooltip.bs-tooltip-top .tooltip-arrow::before {
    border-top-color: #ffc107;
}
.tips-danger.tooltip.bs-tooltip-top .tooltip-arrow::before {
    border-top-color: #dc3545;
}

/* tooltip的箭頭right style */
.tips-info.tooltip.bs-tooltip-end .tooltip-arrow::before {
    border-right-color: #0dcaf0;
}
.tips-success.tooltip.bs-tooltip-end .tooltip-arrow::before {
    border-right-color: #198754;
}
.tips-secondary.tooltip.bs-tooltip-end .tooltip-arrow::before {
    border-right-color: #6c757d;
}
.tips-primary.tooltip.bs-tooltip-end .tooltip-arrow::before {
    border-right-color: #0d61fd;
}
.tips-warn.tooltip.bs-tooltip-end .tooltip-arrow::before {
    border-right-color: #ffc107;
}
.tips-danger.tooltip.bs-tooltip-end .tooltip-arrow::before {
    border-right-color: #dc3545;
}

/* tooltip的箭頭left style */
.tips-info.tooltip.bs-tooltip-start  .tooltip-arrow::before {
    border-left-color: #0dcaf0;
}
.tips-success.tooltip.bs-tooltip-start  .tooltip-arrow::before {
    border-left-color: #198754;
}
.tips-secondary.tooltip.bs-tooltip-start  .tooltip-arrow::before {
    border-left-color: #6c757d;
}
.tips-primary.tooltip.bs-tooltip-start  .tooltip-arrow::before {
    border-left-color: #0d61fd;
}
.tips-warn.tooltip.bs-tooltip-start  .tooltip-arrow::before {
    border-left-color: #ffc107;
}
.tips-danger.tooltip.bs-tooltip-start  .tooltip-arrow::before {
    border-left-color: #dc3545;
}

/* tooltip的箭頭bottom style */
.tips-info.tooltip.bs-tooltip-bottom .tooltip-arrow::before {
    border-bottom-color: #0dcaf0;
}
.tips-success.tooltip.bs-tooltip-bottom .tooltip-arrow::before {
    border-bottom-color: #198754;
}
.tips-secondary.tooltip.bs-tooltip-bottom .tooltip-arrow::before {
    border-bottom-color: #6c757d;
}
.tips-primary.tooltip.bs-tooltip-bottom .tooltip-arrow::before {
    border-bottom-color: #0d61fd;
}
.tips-warn.tooltip.bs-tooltip-bottom .tooltip-arrow::before {
    border-bottom-color: #ffc107;
}
.tips-danger.tooltip.bs-tooltip-bottom .tooltip-arrow::before {
    border-bottom-color: #dc3545;
}
